<a href="https://colab.research.google.com/github/satyaprakashmehta/ai-ml-practice/blob/master/first_data_processing_steps.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Preprocessing Template

## Importing the libraries

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset

In [5]:
dataset = pd.read_csv("https://raw.githubusercontent.com/satyaprakashmehta/ai-ml-practice/master/reports.csv")
X = dataset.iloc[:, :-1].values
Y = dataset.iloc[:, -1].values 

print(X)
print(Y)

[['Bihar' 23 'male' 'single' 'veg' 'student' 12.0 2100.0]
 ['Delhi' 32 'female' 'married' 'veg' 'professional' 15.0 1600.0]
 ['Karnataka' 22 'male' 'single' 'veg' 'student' 18.0 1450.0]
 ['Punjab' 29 'female' nan 'nonveg' 'professional' 17.0 1660.0]
 ['Bihar' 25 'male' 'single' 'veg' 'professional' 35.0 1290.0]
 ['Punjab' 32 'male' 'married' 'nonveg' 'professional' nan 1360.0]
 ['Karnataka' 23 'female' nan 'nonveg' 'student' nan 1200.0]
 ['Bihar' 25 'female' 'married' nan 'professional' 12.0 2500.0]
 ['Punjab' 26 'male' 'single' 'veg' 'student' 21.0 2210.0]
 ['Bihar' 28 'male' 'married' nan 'professional' 12.0 2200.0]
 ['Delhi' 31 'male' 'married' 'nonveg' 'professional' nan 1530.0]
 ['Karnataka' 21 'female' 'single' 'nonveg' 'student' 11.0 nan]
 ['Punjab' 25 'male' 'single' 'veg' 'student' nan 2000.0]
 ['Delhi' 28 'female' 'single' 'veg' 'professional' 15.0 1580.0]
 ['Delhi' 32 'male' 'married' 'veg' 'professional' 17.0 1360.0]
 ['Bihar' 21 'female' 'married' 'nonveg' 'student' 1.0 nan]
 ['Delhi' 29 'male' 'single' 'nonveg' 'professional' 10.0 1820.0]
 ['Karnataka' 21 'female' 'married' 'nonveg' 'student' 24.0 1580.0]
 ['Punjab' 28 'male' 'single' 'veg' 'professional' 26.0 1340.0]
 ['Karnataka' 31 'male' 'married' 'veg' 'professional' 32.0 nan]]

['yes' 'yes' 'no' nan 'no' 'no' 'no' 'yes' nan 'yes' 'yes' 'yes' 'no' 'no'
 'yes' 'no' 'yes' nan 'no' 'yes']

# **Taking Care of Missing Data**

In [10]:
from sklearn.impute import SimpleImputer 
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent') 

imputer.fit(X)
X=imputer.transform(X)
print(X)	


#imputer.fit(Y)
#Y=imputer.transform(Y)
#print(Y)

[['Bihar' 23 'male' 'single' 'veg' 'student' 12.0 2100.0]
 ['Delhi' 32 'female' 'married' 'veg' 'professional' 15.0 1600.0]
 ['Karnataka' 22 'male' 'single' 'veg' 'student' 18.0 1450.0]
 ['Punjab' 29 'female' 'married' 'nonveg' 'professional' 17.0 1660.0]
 ['Bihar' 25 'male' 'single' 'veg' 'professional' 35.0 1290.0]
 ['Punjab' 32 'male' 'married' 'nonveg' 'professional' 12.0 1360.0]
 ['Karnataka' 23 'female' 'married' 'nonveg' 'student' 12.0 1200.0]
 ['Bihar' 25 'female' 'married' 'veg' 'professional' 12.0 2500.0]
 ['Punjab' 26 'male' 'single' 'veg' 'student' 21.0 2210.0]
 ['Bihar' 28 'male' 'married' 'veg' 'professional' 12.0 2200.0]
 ['Delhi' 31 'male' 'married' 'nonveg' 'professional' 12.0 1530.0]
 ['Karnataka' 21 'female' 'single' 'nonveg' 'student' 11.0 1360.0]
 ['Punjab' 25 'male' 'single' 'veg' 'student' 12.0 2000.0]
 ['Delhi' 28 'female' 'single' 'veg' 'professional' 15.0 1580.0]
 ['Delhi' 32 'male' 'married' 'veg' 'professional' 17.0 1360.0]
 ['Bihar' 21 'female' 'married' 'nonveg' 'student' 1.0 1360.0]
 ['Delhi' 29 'male' 'single' 'nonveg' 'professional' 10.0 1820.0]
 ['Karnataka' 21 'female' 'married' 'nonveg' 'student' 24.0 1580.0]
 ['Punjab' 28 'male' 'single' 'veg' 'professional' 26.0 1340.0]
 ['Karnataka' 31 'male' 'married' 'veg' 'professional' 32.0 1360.0]]

# Encoding Categorial Data

encoading the independent variable

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder